@import url('https://fonts.googleapis.com/css2?family=Allura&family=Poppins:ital,wght@0,100;0,400;0,500;0,800;1,400&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0F172A;
}

.teto-cima {
    background: linear-gradient(0.25turn, #491B6E, #1E293B, #CB5ACB);
    color: #fff;
    padding: 20px 0;
    width: 100%;
    margin: 0;
    font-size: 45px;
    text-shadow: 2px 2px 2px #4f195f;
    height: 50px;
}

.teto-cima-img {
    margin-top: -19px;
}

.teto-meio {
    background-color: #27354b;
    color: #fff;
    width: 100%;
    font-size: 45px;
    height: 60px;
}

.teto-meio-text {
    font-size: 20px;
    text-shadow: 2px 2px 2px #4f195f;
    margin-top: -30px;
}

.teto-baixo {
    width: 100%;
    height: 70px;
    background-color: #1E293B;
}

.faixa-meio {
    background-color: #1E293B;
    color: #fff;
    width: 95%;
    font-size: 45px;
    height: 70px;
    border-bottom: 0.5px solid #4c525c;
    border-radius: 80px;
    margin-top: 20px;
}

h2 {
    margin-top: 5px;
    text-align: center;
    align-items: center;
    font-size: 25px;
    color: #FFFFFF;
}

h3 {
    margin-top: 20px;
    font-size: 25px;
}

p {
    font-size: 60px;
    margin-top: 0px;
    color: #ffffff;
    font-family: 'Allura', cursive;
    text-shadow: 2px 2px 2px #513073;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

li {
    margin: 30px 20px;
    width: 200px;
}

a {
    text-decoration: none;
    background-color: #7d63b3;
    color: #fff;
    padding: 10px 24px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

a:hover {
    background-color: #6c5b7b;
}

.meio {
    margin-top: 70px;
}

.conjunto-meio {
    display: flex;
    align-items: center;
    margin: 20px;
    margin-top: -50px;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 10px;
}

.borda-desconto {
    border-radius: 10px;
    margin: 20px 0;
    margin-top: 150px;
    padding: 10px;
    width: 400px;
    height: 150px;
    background-color: #1E293B;
    border: 1.50px solid #4C525C;
    transition: border-color 0.3s ease-in-out;
}

.borda-porcelanato,
.borda-liverpool,
.borda-pvc,
.borda-madeira,
.borda-madeira-adesivada,
.borda-espuma,
.borda-cabeceira,
.borda-adesivo,
.borda-isopor,
.borda-acrilico,
.borda-madeira-vazada {
    border-radius: 10px;
    margin: 20px 0;
    padding: 30px;
    width: 330px;
    height: 650px;
    background-color: #1E293B;
    border: 1.50px solid #4C525C;
    transition: border-color 0.2s ease-in-out, transform 0.3s ease-in-out;
}

.borda-liverpool:hover {
    background-image: url('../img/liver.jpg');
    transform: scale(1.03);
    transition: transform 0.3s;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.borda-porcelanato:hover {
    background-image: url('../img/porcelanato.jpg');
    transform: scale(1.02);
    transition: transform 0.3s;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.borda-madeira:hover {
    background-image: url('../img/madeira_ripada.jpg');
    transform: scale(1.02);
    transition: transform 0.3s;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.borda-pvc:hover {
    background-image: url('../img/pvc.jpg');
    transform: scale(1.02);
    transition: transform 0.3s;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.borda-espuma:hover {
    background-image: url('../img/espuma.jpg');
    transform: scale(1.02);
    transition: transform 0.3s;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.borda-adesivo:hover {
    background-image: url('../img/adesivo.jpg');
    transform: scale(1.02);
    transition: transform 0.3s;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.borda-cabeceira:hover {
    background-image: url('../img/cabeceira.jpg');
    transform: scale(1.02);
    transition: transform 0.3s;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.borda-isopor:hover {
    background-image: url('../img/isopor.jpg');
    transform: scale(1.02);
    transition: transform 0.3s;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.borda-acrilico:hover {
    background-image: url('../img/acrilico.jpg');
    transform: scale(1.02);
    transition: transform 0.3s;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.borda-desconto:hover {
    background-image: url('../img/valor.jpg');
    transform: scale(1.02);
    transition: transform 0.3s;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.borda-madeira-adesivada:hover {
    background-image: url('../img/madeira_adesivada.jpg');
    transform: scale(1.02);
    transition: transform 0.3s;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.borda-madeira-vazada:hover {
    background-image: url('../img/madeira_vazada.jpg');
    transform: scale(1.02);
    transition: transform 0.3s;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.borda-porcelanato:hover h2,
.borda-isopor:hover h2,
.borda-pvc:hover h2,
.borda-madeira:hover h2,
.borda-liverpool:hover h2,
.borda-espuma:hover h2,
.borda-adesivo:hover h2,
.borda-cabeceira:hover h2,
.borda-desconto:hover h2,
.borda-madeira-adesivada:hover h2,
.borda-acrilico:hover h2 {
    color: #ffffff;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
}


::selection {
    background: #555555;
    color: #ffffff;
}

.y1 {
    color: #d995ee;
}

.y2 {
    color: #7d63b3;
}

footer {
    color: white;
    text-align: center;
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.text-name {
    color: white;
    font-size: 20px;
}

.text-name-cor {
    font-size: 20px;
}