@import url('https://fonts.googleapis.com/css2?family=Allura&family=Poppins:ital,wght@0,100;0,400;0,500;0,800;1,400&display=swap');

body {
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../img/fundo-pp.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    opacity: 0;
    animation: fadeIn 0.2s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

h1, p, ul, form, footer, header, .border,.label,input[type="number"],.button-calcular,.button-apagar,.button-copiar,.result,.y1,.y2,.y3,.y4,

::selection {
    animation: slideIn 0.5s ease-in-out forwards;
}

h1 {
    background: linear-gradient(0.25turn, #2d0579, #994fee, #ff00b3);
    color: #fff;
    padding: 20px;
    margin: 0;
    width: 100%;

    text-shadow: 2px 2px 2px #4f195f;
}

p {
    font-size: 17px;
    color: #7d63b3;
    margin-top: -16px;
}

h2 {
    margin-top: 60px;
    text-align: center;
    align-items: center;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    flex-wrap: wrap;
}

li {
    margin: 0 20px;
    margin-top: 30px;
}

header {
    background-color: #9f6af3;
    height: 54px;
    margin: 0;
    width: 100%;
}

header span{
    color: #f5f5f5;
}

header ul{
    margin-top: -15px;
}

header a{
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

a:hover {
    color: #320081;
}

a.active {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.geral {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    gap: 1rem;
}

.border {
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 20px 0;
    padding: 30px;
    width: 100%;
    max-width: 400px;
    background-color: #fff;
    transition: border-color 0.3s ease-in-out;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;}

.border:hover {
    border-color: #7d63b3;
    background-color: #f5f5f5;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

label {
    font-weight: bold;
    color: #6c5b7b;
    margin-bottom: 5px;
}

input[type="number"] {
    width: 90%;
    padding: 10px;
    margin: 7px 0;
    border: 1px solid #e3bbfa;
    border-radius: 5px;
    transition: border-color 0.3s ease;
}

input[type="number"]:focus {
    border-color: #7d63b3;
}

.button-calcular,
.button-apagar,
.button-update,
.button-copiar {
    margin-top: 20px;
    background-color: #7d63b3;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-calcular:hover {
    background-color: rgb(0, 255, 0);
}

.button-copiar:hover {
    background-color: rgb(138, 198, 255);
}

.button-apagar:hover {
    background-color: rgb(255, 0, 0);
}

.button-update:hover {
    background-color: rgb(255, 217, 0);
}

.result {
    background-color: #7d63b3;
    color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    font-size: 23px;
}

.y1 {
    color: #d995ee;
}

.y2 {
    color: #7d63b3;
}

.y3 {
    color: #d055f5;
}

.y4 {
    color: rgb(8, 167, 8);
}

::selection {
    background: #555555;
    color: #ffffff;
}


footer {
    background-color: #994fee;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 260px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
}

.text-name {
    color: white;
    font-size: 20px;
}

.text-name-cor {
    font-size: 20px;
}